body {
	margin:0px;
	padding:0px;
}

.canvas_container{
	margin: 20px auto;
	width:800px;	
}

.canvas_container canvas{  
  border: 1px solid gray;
}

.canvas-container{ 
	margin-top:10px;
	border:1px solid white;
}
.droppable { 
	border:1px dashed blue; 
}

.drag_box{ 
	border:1px dotted gray;
	width:100px;
	height:100px;
	position:absolute;
	z-index:1000;
	display:none;
}